name: Docs

on:
  push:
    branches:
    - master
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  docs:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Pages
      uses: actions/configure-pages@v1
    - name: Set up Swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: '5.7'
    - name: Generate Docs
      run: |
       xcodebuild docbuild -scheme Fastis \
       -destination generic/platform=iOS \
       OTHER_DOCC_FLAGS="--transform-for-static-hosting --hosting-base-path Fastis --output-path public"
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: docs

    steps:
    - name: Deploy Docs
      uses: actions/deploy-pages@v1
